{% extends "core/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3">

        {% if user.is_authenticated %}

            <h1>Patient(s) Records</h1>

            {% if patients %}
                {% for patient in patients %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ patient }}</h5>
                            <p class="card-text"><strong>Created at: </strong>{{ patient.created_at }}</p>
                            <a href="{% url 'record' patient.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}

            {% endif %}
        
        {% else %}

            <h1>Log In</h1>

            <br>

            <form action="{% url 'index' %}" method="post">

                {% csrf_token %}

                    
                    <div class="mb-3">
                        
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                        
                    </div>

                    <br>

                    <div class="mb-3">
                        
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>

                    <br>
                    
                    <button type="submit" class="btn btn-primary">Log In</button>

            </form>

            <br>

            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        
    </div>

    {% endif %}

{% endblock %}