{% extends "core/base.html" %}

{% block title %}Patient Information{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3">

        <h1>Patient Information</h1>

        <!-- {{ patient_record }} -->

        <div class="card">
            <div class="card-header">
                <h4><strong>{{ patient_record.first_name }} {{ patient_record.last_name }}</strong></h4>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Email: </strong>{{ patient_record.email }}</p>
                <p class="card-text"><strong>Phone: </strong>{{ patient_record.phone }}</p>
                <p class="card-text"><strong>Address: </strong>{{ patient_record.address }}</p>
                <p class="card-text"><strong>City: </strong>{{ patient_record.city }}</p>
                <p class="card-text"><strong>State: </strong>{{ patient_record.state }}</p>
                <p class="card-text"><strong>Zipcode: </strong>{{ patient_record.zipcode }}</p>
                <p class="card-text"><strong>Date of Birth: </strong>{{ patient_record.dob }}</p>
                <p class="card-text"><strong>Created at: </strong>{{ patient_record.created_at }}</p>
                <p class="card-text"><strong>Created by: </strong>{{ patient_record.created_by }}</p>
                <p class="card-text"><strong>ID: </strong>{{ patient_record.id }}</p>

                <!-- <p>request.user: {{ request.user }}</p>
                <p>created_by: {{ patient_record.created_by }}</p> -->

                
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-header">
                        <p class="card-title"><strong>Diagnosis</strong></p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ patient_record.diagnosis }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <p class="card-title"><strong>Medical Prescription</strong></p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ patient_record.medical_prescription }}</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div>

            <a href="{% url 'index' %}" class="btn btn-primary">Back</a>


            {% if request.user == patient_record.created_by %}
            <a href="{% url 'edit_record' patient_record.id %}" class="btn btn-success">Edit</a>

            <a href="{% url 'delete_record' patient_record.id %}" class="btn btn-danger">Delete</a>

            {% endif %}

        </div>

        

    </div>

{% endblock %}